<!--<div class="container">
  <div class="row">

    <h1 class="eventHeader col-xs-12 text-center">{{eCtrl.eventgreeting}}</h1>

    <div>

      <div class="container">

        <div class="row">

          <div class="col-xs-12">
            
            <div class="container">
            
            <form class="inline-form">

              <input ng-model="eCtrl.newEvent.name" type="text" class="form-control commentbox" placeholder="Event: name">

              <input ng-model="eCtrl.newEvent.date" type="text" class="form-control commentbox" placeholder="Date: mm/dd/yyyy">

              <input ng-model="eCtrl.newEvent.time" type="text" class="form-control commentbox" placeholder="Time: am/pm">
          <div class="container commentcontainer">
            <div></div>
              <button ng-click="eCtrl.addEvent()" class="btn btn-info commentbtn">Add Event</button>
               <button ng-click="eCtrl.removeEvent()" class="btn btn-info commentbtn">Remove Event</button>
          </div>
            </form>
              
            <div ng-repeat="event in eCtrl.Events" class="newevent container text-center">
              <div class="row">
                <p class="eventcomment col-xs-4 text-center">
                  {{event.time}}
                </p>
                <p class="eventcomment col-xs-4 text-center">
                  {{event.date}}
                </p>
                <p class="eventcomment col-xs-4 text-center">
                  {{event.name}}
                </p>
                
                                 

                  
                  <input type="text"  ng-model="eCtrl.comment" class="form-control newComment text-center" placeholder="Sign up using full name!">
                  
                <button ng-click="eCtrl.addComment(event)" class="btn btn-info commentbtn text-center">Sign Up!</button>
                  <div ng-repeat="comments in event.Comment" class="text-center signup">
                    {{comments}}
                  </div> 
                  </div>
              </div>
            </div>
          </div>

        </div>
        
        
        
       

      </div>-->


      