<form ng-submit="user.signup()">

<input class="form-control" ng-model="user.signupUser.firstname"type="text" placeholder="First Name">
<input class="form-control" ng-model="user.signupUser.lastname"type="text" placeholder="Last Name">
<input class="form-control" ng-model="user.signupUser.email"type="text" placeholder="Email">
<input class="form-control" ng-model="user.signupUser.phone"type="text" placeholder="Phone Number">
<input class="form-control" ng-model="user.signupUser.address"type="text" placeholder="Address">
<input class="form-control" ng-model="user.signupUser.password"type="text" placeholder="Password">

</form>


<form ng-submit="home.login()">

<input class="form-control" ng-model="user.loginUser.email"type="text" placeholder="Email">
<input class="form-control" ng-model="user.loginUser.password"type="text" placeholder="Password">

</form>
